body {
  padding-bottom: 50px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.picture {
  padding: 10px;
}

.image {
  height: 250px;
  background: midnightblue;
}

.poke {
  font-weight: bold;
}

.chaser {
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.runner {
  width: 50px;
  height: 50px;
  background: green;
  border-radius: 50%;
}

.box {
  border: 1px solid grey;
  height: 350px;
}

.carouselContainer {
  height: 400px;
  padding: 0;
  position: relative;
}

.slide-ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  list-style: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
}

.img-one {
  background-image: url(./images/parallax/1.jpg);
}

.img-two {
  background-image: url(./images/parallax/2.jpg);
}

.img-three {
  background-image: url(./images/parallax/3.jpg);
}

.active {
  opacity: 1;
}

.indicator,
.dot {
  position: absolute;
  z-index: 2;
  color: beige;
  cursor: pointer;
}

.previous {
  top: 50%;
  left: 10px;
}

.next {
  top: 50%;
  right: 10px;
}

#i-one {
  bottom: 10px;
  right: 55%;
}
#i-two {
  bottom: 10px;
  right: 50%;
}
#i-three {
  bottom: 10px;
  right: 45%;
}

.i-active {
  border: 1px solid white;
  border-radius: 50%;
}

.title {
  font-size: 1.5em;
  margin-top: 100px;
  margin-bottom: 20px;
}

.lightMode {
  background: rgb(245, 245, 245);
  color: rgb(10, 10, 10);
}

.darkMode {
  background: rgb(10, 10, 10);
  color: rgb(245, 245, 245);
}

.bigTitle {
  font-size: 2.5em;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 47px;
  height: 50px;
  width: 50px;
  border: 1px solid grey;
  border-radius: 50%;
}

.mode:hover {
  cursor: pointer;
}
